* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: raleway-regular;
  src:url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: "raleway-medium";
  src:url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: "raleway-bold";
  src:url(../fonts/Raleway-Bold.ttf);
}

@font-face {
  font-family: "raleway-semibold";
  src:url(../fonts/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: "raleway-black";
  src:url(../fonts/Raleway-Black.ttf);
}

@font-face {
  font-family:"Raleway-extrabold";
  src: url(../fonts/Raleway-ExtraBold.ttf);
}
:root {
  --primary: #EEBF00;
  --secondary: #232b38;
  --ternary: #6c6c6c;
  --danger: #fe4545;
  --pure: #fefefe;
  --light: #f0f0f0;
  --heaven: #ffffff;
  --footer: #2d333f;
}

body {
  -webkit-font-smoothing: antialiased;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

/* media queries for container in different screen size */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

/****************** utilities Classes *******************/

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.text-align {
  align-items: center;
}

.text-center {
  text-align: center;
}

.magic-shadow {
  position: relative;
  background-color: var(--heaven);
}

.magic-shadow:after {
  content: "";
  display: block;
  width: 100%;
  height: 69px;
  background-image: url(../icons/shadow.svg);
  background-repeat: no-repeat;
  position: absolute;
  bottom: -22px;
  z-index: -1;
  background-position: center;
}

.pading {    /* for padding in section */
  padding: 4rem 0;
}

.section-heading {    /* for heading */
  font-family: "raleway-bold";
  text-align: center;
  position: relative;
  margin-bottom: 4rem;
}

.section-heading::after {  /* for after heading design */
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-image: url(../icons/hr.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: -40px;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Header *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
/* for hamburger */
.main-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.nav-background {
  width: 100%;
  height: 100%;
  background-color: var(--light);
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1;
}

.nav-trigger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 15px;
  display: none;
}

.nav-trigger svg {
  transform: rotate(90deg) scaleX(-1);
  width: 40px;
  height: 40px;
}

.site-content-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--heaven);
  z-index: 2;
  transition: all .3s ease;
}

.site-content-wrapper.scaled {
  transform: scale(0.9) translateX(90%);
  border-radius: 3px;
  box-shadow: 0 3px 10px 0 var(--secondary);
}

.site-content {
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

.nav-background .cart {
  margin-bottom: 2rem;
  padding: 1rem;
}

.nav-background .cart a {
  color: var(--secondary);
  text-decoration: none;
  font-family: "raleway-bold";
}

.nav-background .cart img {
  margin-right: 0.75rem;
  width: 20px;
  height: 20px;
}

.nav-background .mobile-logo {
  padding: 1rem;
}

.nav-background .mobile-nav ul {
  list-style-type: none;
  margin: 20px 0;
}

.nav-background .mobile-nav ul li {
  margin-bottom: 1rem;
}

.nav-background .mobile-nav ul li a {
  text-decoration: none;
  padding: 1rem;
  color: var(--secondary);
  font-family: "raleway-medium";
}

.nav-background .mobile-nav ul li a:hover {
  color: var(--primary);
}


.contact, .work{
  padding: 1rem;
}

.contact img{
  margin-right: 1rem;
}

.contact h5{
  font-family: "raleway-black";
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.contact h6 {
  font-family: "raleway-medium";
  color: var(--secondary);
  letter-spacing: 0.055rem;
  font-size: 0.75rem;
}

.work img {
  margin-right: 1rem;
}

.work h5{
  font-family: "raleway-black";
  margin-bottom: 0.25rem;
  font-size: 1rem;
}

.work h6 {
  font-family: "raleway-medium";
  color: var(--secondary);
  letter-spacing: 0.055rem;
  font-size: 0.75rem;
}

/* for big screen header */
.topbar {
  background-color: var(--secondary);
  color: var(--pure);
  font-family: raleway-semibold;
  padding: 0.75rem 0;
}

.topbar .auth > div a {
  color: var(--pure);
  text-decoration: none;
}

.topbar .icons a {
  margin-right: 0.6rem;
}

.topbar .auth .divider {
  padding: 0 1rem;
}

.topbar .auth > div img {
  margin-right: 0.35rem;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Nav *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.top {
  padding: 1.5rem 0;
}

.top img {
  margin-right: 1rem;
}

.top h5{
  font-family: "raleway-black";
  margin-bottom: 0.25rem;
}

.top h6 {
  font-family: "raleway-medium";
  color: var(--ternary);
  letter-spacing: 0.055rem;
  font-size: 0.75rem;
}

/*----------- Navbar Menu ---------*/
.navmenu a {
  text-decoration: none;
  padding: 1rem 1.5rem;
  color: var(--secondary);
  font-family: "raleway-semibold";
  font-size: 1rem;
  transition: all .3s ease;
}

.navmenu a.active {
  background-color: var(--primary);
  color: var(--pure);
}

.navmenu a:hover {
  background-color: var(--primary);
  color: var(--pure);
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Hero Section *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
#hero {
  height: 600px;
  background-image: url("../images/hero.png");
  background-position: 0% 0%;
  background-repeat: no-repeat;
  overflow: hidden;
}

#hero .container {
  position: relative;
}
#hero .welcome span {
  font-family: "raleway-bold";
  color: var(--secondary);
  margin-right: 0.75rem;
}

#hero .welcome {
  margin-bottom: 0.25rem;
}

#hero h1 {
  font-family:"Raleway-extrabold";
  color:var(--secondary);
  font-size: 2.5rem;
  margin-bottom:0.75rem;
}

#hero h1 span{
  color:var(--primary);
}

#hero p{
  font-family: "Raleway-medium";
  width:50%;
  line-height:1.5;
  margin-bottom:1rem;
}

/*----------- Button ---------*/
.btn{
  padding:0.75rem 0.75rem;
  border-radius:4px;
  line-height:0.8;
  font-size:1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border:1px solid transparent;
}

.btn-primary {
  background:var(--primary);
  color:var(--heaven);
}

.btn-primary:hover{
  background:var(--heaven);
  color:var(--primary); 
  border:1px solid var(--primary);
}

.btn-secondary{
  background:var(--secondary);
  color:var(--heaven); 
}

.btn-secondary:hover{
  background:var(--heaven);
  color:var(--secondary); 
  border:1px solid var(--secondary);
}

#hero button:first-child {
  margin-right: 0.50rem;
}

#hero .hero-img {
  position: absolute;
  right: 40px;
  top: -40px;
}

/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Slider Section *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
.top-products {
  background-color: var(--light);
}

.top-products .food-slider .food-card {
  background-color: var(--heaven);
  padding: 1.5rem 0;
  border-radius: 4px;
}

.top-products .food-slider .food-card .product-image img {
  width: 80%;
  height: 200px;
  object-fit: contain;
  padding-bottom: 1rem;
}

hr {
  border: 1px solid var(--light);
  opacity: 0.8;
  margin: 1rem 0;
}

.top-products .food-slider .food-card .food-content h2 {
  font-family: "raleway-bold";
  font-size: 1.3rem;
  margin-bottom: 0.25rem;
}

.top-products .food-slider .food-card .food-content .stars {
  margin-bottom: 0.5rem;
}

.top-products .food-slider .food-card .food-content .stars img {
  margin-right: 0.25rem;
}

.top-products .food-slider .food-card .food-content .price {
  font-family: "raleway-medium";
  color: var(--danger);
  margin-bottom: 1rem;
}

.top-products .food-slider .food-card .food-content button {
  font-family: "raleway-medium";
  background-color: var(--heaven);
  color: var(--secondary);
  border: 2px solid var(--primary);
  border-radius: 4px;
  width: 50%;
  transition: all .3s ease;
  font-size: 1rem;
  cursor: pointer;
}

.food-slider .food-card .food-content button img {
  background-color: var(--primary);
  padding: 0.50rem;
  height: 32px;
  margin-right: 1.2rem;
}

.food-slider .food-card .food-content button:hover {
  background-color: var(--primary);
  color: var(--heaven);
}

/* slick slider */
.slick-slide {
  margin: 0 27px;
}

.slick-list {
  margin: 0 -27px;
}

/* Slider Button */
.top-products .slider-btn {
  width: 30px;
  height: 30px;
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.slider {
  position: relative;
}

.prev-btn {
  position: absolute;
  z-index: 1;
  left: -3rem;
  top: 46%;
}

.next-btn {
  position: absolute;
  top: 46%;
  z-index: 1;
  right: -3rem;
}



/*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* Media Queries *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*/
@media screen and (max-width: 992px) {
  .nav-trigger {
    display: block;
  }

  .topbar,nav,.navmenu {
    display: none;
  }

  #hero {
    margin-top: -4rem;
  }

  #hero .hero-img {
    right: -160px;
    top: 100px;
  }

  .top-products .slider-btn {
    display: none !important;
  }
}

@media (max-width: 576px) {
  #hero .hero-img {
    right: -235px;
    top: 150px;
  }

  #hero {
    margin-top: -3rem;
  }
}
